<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivis.anvlauncher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="AvnLauncher"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.ivis.avnlauncher.main_scr_Activity"
            android:label="AvnLauncher"
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>